<header class="header">
  <ul class='lang-list'>
    <li class='lang-item'><a href='/'>HOME</a></li>
    <% getLocales().forEach(locale =>{ %>
        <li class='lang-item'><a href='/change-locale/<%= locale %>'> <%= locale %> </a></li>
    <% }) %>
    <% if (!session.authUser){ %>
      <li class='lang-item'><a href='/auth/login'><%= __('ACCESO') %></a></li>
      <% } else { %>
        <li class='lang-item'><a href='/zonavip/newAd'><%= __('NUEVO ANUNCIO') %></a></li>
    
        <li class='lang-item'><a href='/auth/logout'><%= __('SALIR') %></a></li>
    <% } %>
   
  </ul>
  
</header>
