<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>
      <%= title %>
    </title>
    <link rel="stylesheet" href="/stylesheets/reset.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/gridbox.css" />
  </head>

  <body>
    <% include header.html %>
    <main class="main">
      <section class="tags">
        <% resultTags.forEach(tag=> { %>
        <div class="tag-item"><%= __(tag) %></div>
        <% }); %>
      </section>
      <section class="grid-content">
        <% resultSet.forEach(ad=> { %>
        <article class="grid-item">
          <img src="/images/anuncios/<%= ad.photo %>" alt="<%= ad.photo %>" />
          <h3>
            <%= ad.price %>€
          </h3>
          <p>
            <%= __(ad.name) %>
          </p>
          <p></p>

          <p>
            <%= __(ad.tags[0]) %>
          </p>
          <h4>
            <% if(ad.sale){%>
            <i class="fas fa-credit-card"></i>
            <% }else{ %>
            <i class="fas fa-binoculars"></i>
            <%}%>
          </h4>
        </article>
        <% }) %>
      </section>
    </main>
    <footer></footer>
  </body>
</html>
