<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <title>
      <%= title %>
    </title>
    <link rel="stylesheet" href="/stylesheets/reset.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <% include header.html %>
    <form class="container">
      <h1>Nuevo anuncio</h1>
      <div class="form-group">
        <label for="exampleFormControlInput1">¿Qué vendes o compras?</label>
        <input
          type="name"
          name="name"
          class="form-control"
          id="exampleFormControlInput1"
          
        />
      </div>
      <div class="form-group">
        <label for="exampleFormControlSelect1">Precio</label>
        <input
        type="price"
        name="price"
        class="form-control"
        id="exampleFormControlInput2"
      />
      </div>
      <div class="form-group">
        <label for="exampleFormControlSelect2">Compar o Venta</label>
        <select class="form-control" id="exampleFormControlSelect2">
          <option>Compra</option>
          <option>Venta</option>
         
        </select>
      </div>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Example textarea</label>
        <textarea
          class="form-control"
          id="exampleFormControlTextarea1"
          rows="3"
        ></textarea>
      </div>
      <button type="submit" class="btn btn-primary"><%=__('Guardar')%></button>
    </form>

    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
