.grid-content{
    margin: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: .5rem;
    justify-content: center;
    align-content: center;
}

.grid-item{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    align-self: stretch;
    border: 0.2em solid #F2A766;
    border-radius: 0.5em;
    padding: 0.2em;
}

.grid-item img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: center top;
    
    border-radius: 0.5em;
}