body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  
  
}

h1{
  font-family: prototype;
  font-size: 2rem;
  text-align: center;
}

p{
  line-height: 1.5em;
}

a {
  color: #00B7FF;
}

.tags{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.lang-list{
  float: right;
  padding-right: 2em;
}

.lang-item{
  display: inline;
}

form {
  padding-top: 100px;
}

.error{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: indianred;
  color: white;
  text-align: center;
  padding: 0.5em 0 0.5em 0;
  margin-top: 2em;
  font-weight: bold;
}